<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.css}"></script>
    <script th:src="@{/jquery/jquery-3.7.0.min.js}"></script>
</head>
<body>
<div th:insert="~{default/fragment::nav}"></div>
<button th:href="@{/employee/register.html}"></button>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Birthday</th>
        <th scope="col">Address</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="e:${employee}">
        <td th:text="${e.eid}"></td>
        <td th:text="${e.ename}"></td>
        <td th:text="${e.birthday}"></td>
        <td th:text="${e.aid}"></td>
        <td><a th:href="@{/employee/update/{id}(id=${e.eid})}">update</a></td>
        <td><a th:href="@{/employee/delete/{id}(id=${e.eid})}">delete</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>