<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Đăng kí</title>
  <style>
    form {
      margin-left: 650px;
    }

    h1 {
      text-align: center;
    }
  </style>
</head>
<body>
<h1>Đăng kí</h1>
<form action="/employee/save" method="POST" th:object="${employee}">
  <input th:field="*{eid}" type="text" hidden>
  <div>
    <label for="name">Full Name:</label>
    <input th:field="*{ename}" type="text" id="name" placeholder="Your Name">
  </div>
  <br>
  <div>
    <label for="birthday">Birthday:</label>
    <input th:field="*{birthday}" type="date" id="birthday">
  </div>
  <br>
  <div>
    <label for="address">Address:</label>
    <select th:field="*{aid}" id="address">
      <option value="1">HN</option>
      <option value="2">HCM</option>
      <option value="3">VP</option>
    </select>
  </div>
  <br>

  <button type="submit">Dang ky</button>

</form>
</body>
</html>